<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1 class="Login">Login</h1>
        <input type="text" placeholder="username" name="Username"><br>
       <input type="password" placeholder="password" name="Password"><center>
        <br><br><br>
        <input type="submit"></center>
       <a href="/scan-qr/">scan qr</a>
    </form>
</body>
</html>