<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
    <center><h1>Registration</h1></center>
    <label for="">NAME:</label>
    <input type="text"><br><br><br>
    <label for="">ADDRESS:</label>
    <textarea></textarea><br><br><br>
    <label for="">District</label>
    <select name="" id="">
        <option value="please select district">please select district</option>
        <option value="kasargode">kasargode</option>
        <option value="kannur">kannur</option>
        <option value="Wayanad">wayanad</option>
        <option value="kozhikode">kozhikode</option>
        <option value="malappuram">malappuram</option>
        <option value="palakkad">palakkad</option>        
        <option value="Thrissur">Thrissur</option>        
        <option value="Idukki">Idukki</option>       
        <option value="pathanamthitta">pathanamthitta</option>       
        <option value="kollam">kollam</option>       
        <option value="Eranakulam">Eranakulam</option>       
        <option value="kottayam">kottayam</option>       
        <option value="Alapuzha">Alapuzha</option>       
        <option value="Thiruvanandhapuram">Thiruvanandhapuram</option> 
    </select><br><br><br>
    <label for="">DOB:</label>
    <input type="date"><br><br><br>
    <label for="">GENDER:</label>
    <input type="radio" value="male" name="gender">Male
    <input type="radio" value="female" name="gender">Female<br><br><br>
    <label for="">Email</label>
    <input type="text"><br><br><br>
    <label for="">Phone NO:</label>
    <input type="text"><br><br><br>

</form>
</body>
</html>