<html>
    <head>
        <title>user rewards</title>
    </head>
    <body>
        <table border="1" cellpadding="10" cellspacing="0">
            <tr>
                <th>Point</th>
                <th>Rewads</th>
                <th>Premium member option</th>
                <th> money can Redeem</th>
            </tr>
            <tr>
                <td>***</td>
                <td>***</td>
                <td>***</td>
                <td>***</td>
                <td>
                </td>
            </tr>
        </table>
    </body>
</html>