<html>
    <head>
        <title>usergift</title>
    </head>
    <body>
        <h1>Points:</h1>
        <table border="1" cellpadding="10">
            <tr>
                <th>Reward</th>
                <th>Money</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button onclick="redeem">Redeem</button>
                </td>
            </tr>
        </table>
    </body>
</html>